@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(
    90deg,
    rgba(233, 233, 233, 1) 0%,
    rgba(255, 255, 255, 1) 32%,
    rgba(255, 255, 255, 1) 65%,
    rgba(233, 233, 233, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  background: linear-gradient(
    90deg,
    rgba(215, 215, 215, 1) 0%,
    rgba(255, 255, 255, 1) 32%,
    rgba(255, 255, 255, 1) 65%,
    rgba(215, 215, 215, 1) 100%
  );
}
